[submodule "prebuilts"]
	path = prebuilts
	url = https://github.com/konkers/u-prebuilts.git
[submodule "build/blueprint"]
	path = build/blueprint
	url = https://github.com/google/blueprint.git
[submodule "build/river"]
	path = build/river
	url = https://github.com/konkers/blueprint-river.git
[submodule "external/unity"]
	path = external/unity
	url = https://github.com/konkers/Unity.git
